.angular
.cursor
.git
.idea
.nx
.vscode
coverage
dist
docs
iac
node_modules
tmp
.dockerignore
.editorconfig
.env
.gitignore
.prettierignore
.prettierrc
Dockerfile
eslint.config.mjs
jest.config.ts
jest.preset.js
*.log
*.bak
