@use '@angular/material' as mat;
@use '../public/styles/reset';
@use '../public/styles/material';
@use '../public/styles/typography';

:root {
  --cosmic-black-50: rgb(0 0 0 / 0.5);
  --cosmic-gradient: linear-gradient(
    90deg,
    var(--cosmic-violet-600),
    var(--cosmic-violet-400),
    var(--cosmic-secondary),
    var(--cosmic-violet-400),
    var(--cosmic-violet-600)
  );
  --cosmic-gradient-alt: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  --cosmic-navy: #071225;
  --cosmic-navy-highlight: #131533;
  --cosmic-red: #991111;
  --cosmic-secondary: #06b6d4;
  --cosmic-text-color: #e0e1dd;
  --cosmic-violet-300: #c4b5fd;
  --cosmic-violet-400: #a78bfa;
  --cosmic-violet-600: #7c3aed;
  --cosmic-violet-600-25: rgb(124 58 237 / 0.25);
  --cosmic-violet-600-50: rgb(124 58 237 / 0.5);
  --cosmic-violet-950: #2e1065;
  --cosmic-white: #ffffff;
  --cosmic-white-25: rgb(255 255 255 / 0.25);
  --cosmic-white-50: rgb(255 255 255 / 0.5);
  --mat-form-field-error-text-color: #f66;
  --mat-form-field-filled-error-focus-label-text-color: #f66;
  --mat-form-field-filled-error-hover-label-text-color: #f66;
  --mat-form-field-filled-error-label-text-color: #f66;
  --mat-form-field-filled-focus-label-text-color: var(--cosmic-violet-400);
  --mat-sys-on-primary: var(--cosmic-white);
  --mat-sys-on-surface: var(--cosmic-text-color);
  --mat-sys-on-surface-variant: var(--cosmic-violet-400);
  --mat-sys-primary: var(--cosmic-violet-600);
  --mat-sys-secondary-container: var(--cosmic-violet-600);
  --mat-sys-surface: #0d1b2a;
}

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$magenta-palette,
        tertiary: mat.$violet-palette,
      ),
      density: 0,
      typography: 'Space Grotesk',
    )
  );
}

body {
  background: radial-gradient(circle at bottom right, #131355 0%, #02020b 100%);
  color: var(--mat-sys-on-surface);
  color-scheme: dark;
  font: var(--mat-sys-body-medium);
  min-height: 100vh;

  &::before,
  &::after {
    content: '';
    height: 100%;
    left: 0;
    opacity: 0.75;
    pointer-events: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 0;
  }

  &::before {
    animation: slide1 150s linear infinite;
    background: transparent url('/images/stars1.png') repeat;
  }

  &::after {
    animation: slide2 120s linear infinite;
    background: transparent url('/images/stars2.png') repeat;
  }

  * {
    z-index: 1;
  }
}

@keyframes slide1 {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 466px 0;
  }
}

@keyframes slide2 {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 798px 0;
  }
}

.g_id_signin {
  color-scheme: light;
}
