@use '@angular/material' as mat;

.table-scroll {
  border: 1px solid var(--cosmic-violet-600-25) !important;
  border-radius: 0.75rem;
  box-shadow: 0.5rem 0.5rem 1rem var(--cosmic-black-50) !important;
  overflow-x: auto;
  width: 100%;
}
